body {
    padding: 0px;
    margin: 0px;

}

.parent {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-self: center;
    cursor: pointer;
    position: sticky;
    left: 0px;
    top: 0px;
    background-color: white;
}

.logo {
    border-radius: 50%;
    border: 1px solid;
    background-color: #808D7C;
    margin: 0;
    padding: 0;
}



.heading {
    font-size: 50px;
    font-family: none;
    margin-right: 150px;

}


.search-bar {
    border: none;
    width: 400px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-right: 200px;
}

.search-bar:hover {
    transform: scale(1.1);
    transition: 0.5s;

}


.icons {
    justify-content: end;
    border: 1px solid white;
    padding: 8px;
    cursor: pointer;

}

.icons:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

.logins {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-self: center;
    cursor: pointer;
    position: sticky;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
    left: 0;
    top: 100px;
    background-color: white;
    border-bottom: 1px solid black;

    padding: 20px;

}




.card {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;

}

.text {
    text-decoration: none;
    cursor: pointer;
    color: black;

}

.pages {
    display: flex;
    margin: 30px;
    font-size: 20px;
    
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}





.fix-header {
    border-bottom: 1px solid black;
    position: sticky;
    left: 0px;
    top: 0px;
    background-color: white;
}

.footer1 {
    background-color: white;
    color: rgb(17, 14, 14);
    text-align: center;
    padding: 1em 0;
    margin-top: 17em;
    border-top: 1px solid;
}

.footer {
    background-color: white;
    color: rgb(17, 14, 14);
    text-align: center;
    padding: 1em 0;
    margin-top: 17em;
    border-top: 1px solid;
    border-top: 1px solid;
}