.text-center{
    text-align: center;
}
.profile-form{
    margin: 40px;
    color:black;
    font-size: 20px;
    text-align: center;

    
}
.profile-form2{
    color:black;
    margin: auto;
    padding: 10px;
}
.btn{
    background-color:paleturquoise;
    margin: 0 30px;
    padding: 10px 30px;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    cursor:pointer;
    border: none; 
    color: #001e1d;
    font-size: 15px;
}
.btn:hover{
    transition: 0.3s;
    color:paleturquoise;
    background-color: black;

}
.profile-img{
    height: 40px;
    width: 30px;
    margin-top: 40px;
    cursor: pointer;

}
.next-btn{
    height: 40px;
    width: 200px;

}