.body{
    margin: 0;
    padding: 0;
  }
  
  .no-underline{
    text-decoration: none;
  }

  
  .parent {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-self: center;
    cursor: pointer;
    position: sticky;
    left: 0px;
    top: 0px;
    background-color: white;
}


  .parent1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin-bottom: 15px; 
}

.heading {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}

.text-center{
    text-align: center;
  }
  .highlight{
    background-color: #ecdadd;
    padding: 1px 5px ;
    border-radius: 5px;
    }

.parent-2{
flex-wrap: wrap;
justify-content: space-around;
display: flex;
flex-direction:row;
}

.header-section{
margin-top: 15px;
display: flex;
border-radius: 5px;

}

.header-img{
height: 250px;
width: 250px;
border-radius: 20% ;
box-shadow : 0 3px 5px #595959 ;
border: solid black 0.1px;
display: block;
margin: 20px auto;
}
.header-img-container{
width: 50%;
}
.header-info-container{
width: 50%;
}
.tag{
    font-size:23px;
    color: #000000;
  }

  .p-co{
    margin-top: 15px;
    font-size: 20px;
    color: #000000;
  }

.no-underline{
  text-decoration: none;
}
.MAIN-BTN{
    margin-top: 15PX;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.btn{
  
  width: 100px;
  background-color:white;
  color: black;
  margin: 7px 10px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 40px;
  font-weight: bold;
  box-shadow: 0 3px 5px #475d5b;
}

.btn:hover{
    background-color:black;
    color: #fff;
    border: 1px solid black;
}

  

.why-choose-us{
  margin-top: 30px;
}
.why-choose-us-card{
  background-color: white;
  width: 180px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #475d5b;
}
.why-choose-us-img{
  height: 60px;
  display: block;
  margin: 10px auto;
}
.why-choose-us-container{
  display: flex;
  justify-content: space-around;
 
  margin: 20px 0;
  padding: 20px;
}

.no-underline{
  text-decoration: none;
}

.brands{
  margin-top: 25px;
display: flex;
justify-content: center;
align-items: center;
}
.brand-card{
height: 150px;
width: 150px;
text-align: center;
}
.brand-img{
display: block;
margin: 0 auto;
height: 100px;
width: 100px;
}
.brand-name{
font-size: 20px;
color: black;
text-decoration: none;
}
.sale-img{
margin: 30px ;
}


.footer {
      background-color: white;
      color: rgb(17, 14, 14);
      text-align: center;
      padding: 1em 0;
      margin-top:auto;
  }

  .text {
      text-decoration: none;
      cursor: pointer;
      color: black;

  }


  .logins {
      display: flex;
      flex-direction: column;
      align-items: center;

  }
  .heading {
      font-size: 50px;
      font-family: none;
      margin-right: 150px;

  }

  .fix-header {
      border-bottom: 1px solid black;
      position: sticky;
      left: 0px;
      top: 0px;
      background-color: white;
  }

  .icons {
      justify-content: end;
      border: 1px solid white;
      padding: 8px;
      cursor: pointer;

  }

  .search-bar {
      border: none;
      width: 400px;
      border-bottom: 1px solid black;
      text-align: center;
      margin-right: 200px;
  }

  .search-bar:hover {
      transform: scale(1.1);
      transition: 0.5s;

  }

  
  .head {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
      position: sticky;
      left: 0;
      top: 100px;
      background-color: white;

      padding: 20px;

  }
  
.heading {
font-size: 50px;
font-family: none;
margin-right: 150px;
color: black;
text-decoration: none;

}
