*{
    margin: 0;
    padding: 0;
}
.latestNupcoming{
    text-align: center;
}
.latest{
    box-shadow: 1px 1px 15px 2px rgb(195, 194, 194);
}
.l-n-u-img{
    display: inline-block;
    height: 300px;
    width: 300px;

}

.title{
    font-size: 24px;
    margin: 30px;
}

.brands{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-card{
    height: 150px;
    width: 150px;
    text-align: center;
}

.brand-img{
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

.brand-name{
    font-size: 20px;
    color: black;
    text-decoration: none;

}

.banner-img{
    height: 230px;
    width: 100vw;
    margin-top: 30px;
}