*{
    margin: 0;
    padding: 0;
}

/* **** latest and upcoming section **** */
.latestNupcoming{
    text-align: center;
}
.latest{
    box-shadow: 1px 1px 15px 2px rgb(195, 194, 194);
}
.l-n-u-img{
    display: inline-block;
    height: 300px;
    width: 300px;
}



.title{
    font-size: 24px;
    margin: 30px;
}

/*  *** brands sec **** */

.brands{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-card{
    height: 150px;
    width: 150px;
    text-align: center;
}

.brand-img{
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

.brand-name{
    font-size: 20px;
    color: black;
    text-decoration: none;

}

.banner-img{
    height: 230px;
    width: 100vw;
    margin-top: 30px;
}



/* 75% offer-sections */

.offer-cards{
    display: flex;
     
}

.offer{
    text-decoration: none;
    color: black;
}
.cards{
    height: 350px;
    width: 250px;
    display: block;
    margin: 40px 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 1px 1px 15px 2px rgb(171, 170, 170);
   
}

.card-header{
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.cards-pts{
    margin: 7px;
}

.card-img{
    display: block;
    margin: 5px auto;
    height: 220px;
    width: 200px;
    
}
.num-effect{
    font-size: 90px;
 
}
.position-relative{
    position: relative;
    top: 170px;
    left: 37px;
}

.price{
    text-decoration: none;
    padding: 6px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;

}

/*  **** Icons section *** */
.apple-icon{
    height: 70px;
    width: 100vw;
    display: flex;
    box-shadow: 1px 1px 20px 1px rgb(168, 168, 168);
}


.icon{
    height: 40px;
    width: 130px;
    margin: auto 0px;
    margin-left: 100px;
}
.vertical-line{
    border-left: 2px solid grey;
    height: 70px;
    margin: 0 25px;
}

.icon-descrip{
    margin: 18px 0;
}
.descrip-title{
  font-size: 20px;
}

.bg-banner{
    height: 300px;
    width: 100vw;
    background-color: rgb(246, 243, 243);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    box-shadow: 1px 1px 20px 1px rgb(168, 168, 168);
    margin-bottom: 50px;
}

.banner{
    width: 40%;
}

.banner-cards{
    height: 270px;
    width: 240px;
    background-color: white;
    margin-right: 50px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid rgb(180, 177, 177);
    border-radius: 30px;
}

.bg-banner-img{
    height: 295px;
    width: 100%;
    
   
}
.banner-cards-img{
    height: 130px;
    margin: 10px auto;
}

.banner-cards-descrip{
    margin: 10px;
}


.banner-cards-btn{
    background-color:black;
    color: white;
    margin: 7px 15px;
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid transparent;
    cursor: pointer;
    
}


/* ***** cards **** */
.apple-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.shopping-card-container {
    height: 370px;
    width: 255px;
    padding: 12px;
    margin: 30px 20px;
    border: 2px solid gray;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 2px #b7b7b8;
}

.shopping-items {
    height: 180px;
    width: 250px;
    background-image: url("shoes.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img-1 {
    background-image: url("../img/watch.webp");
}

.wishlist-icon {
    height: 30px;
    width: 30px;
    margin-left: 210px;

}

.shopping-card-price {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.shopping-card-title {

    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.shopping-card-ratings {
    height: 15px;
    width: 70px;
    display: block;
    margin: 0px auto;
}

.shopping-card-descrip {
    margin-left: 10px;
    margin: 12px 0;
    font-size: 15px;
}

.shopping-card-btn {
    background-color:white;
    color: black;
    margin: 7px 10px;
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 40px;
    font-weight: bold;
    border: 1px solid black;
}

.shopping-card-btn:hover{
    background-color:black;
    color: #fff;
    border: 1px solid black;
}

/*** end **/