
.beauty{
    color:#ff0066 ;
    text-align: center;
}
.parent {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-self: center;
    cursor: pointer;
}

.logo {
    border-radius: 50%;
    border: 1px solid;
    background-color: #808D7C;
    margin: 0;
    padding: 0;
}


.heading {
    font-size: 50px;
    font-family: none;
    margin-right: 150px;

}

.search-bar {
    border: none;
    width: 400px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-right: 200px;
}
.search-bar:hover{
    transform: scale(1.1);
    transition: 0.5s;
   
}


.icons {
    justify-content: end;
    border: 1px solid white;
    padding: 8px;
    cursor: pointer;
  
}
.icons:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-self: center;
    cursor: pointer;
    position: sticky;
}

.logins {
    display: flex;
    flex-direction: column;
    align-items: center;


}
.card {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;

}

.pages {
    display: flex;
    margin: 30px;
    font-size: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}


.shopping-card-container {
            height: 370px;
            width: 255px;
            padding: 12px;
            margin: 30px 20px;
            border:0.5px solid gray;
            border-radius: 15px;
            box-shadow: 1px 1px 15px 2px #b7b7b8;
            cursor: pointer;
        }

        .shopping-card-container:hover {
            box-shadow: 0px 0px 20px 2px gray;

        }

        .shopping-items {
            height: 180px;
            width: 250px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        .product-main-container{
            display: flex;
            flex-wrap: wrap;
            justify-content:space-around;
            text-align: center;
            }
        
        .img-1 {
            background-image: url("../images/img-1.jpg");
        }
        .img-2{
            background-image:url("../images/img-2.jpg")  ;
        }
        .img-3{
            background-image: url("../images/img-3.jpg");
        }
        .img-4{
            background-image: url("../images/img-4.jpg");
        }
        .img-5{
            background-image: url("../images/img-5.jpg");
        }
        .img-6{
            background-image: url("../images/img-6.jpg");
        }
        .img-7{
            background-image: url("../images/img-7.jpg");
        }.img-8{
            background-image: url("../images/img-8.jpg");
        }

        .wishlist-icon {
            height: 30px;
            width: 30px;
            margin-left: 210px;
        
        }
        
        .shopping-card-price {
            font-size: 20px;
            font-weight: bold;
            margin: 10px;
            text-align: center;
        }
        
        .shopping-card-title {
        
            font-size: 22px;
            font-weight: bold;
            margin: 10px;
            text-align: center;
        }
        
        .shopping-card-ratings {
            height: 15px;
            width: 70px;
            display: block;
            margin: 0px auto;
        }
        
        .shopping-card-descrip {
            margin-left: 10px;
            margin: 12px 0;
            font-size: 15px;
        }
        
        .shopping-card-btn {
            background-color:white;
            color: black;
            margin: 7px 10px;
            padding: 5px 10px;
            width: 100px;
            text-align: center;
            border-radius: 20px;
            cursor: pointer;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 40px;
            font-weight: bold;
            border: 1px solid black;
        }
        
        .shopping-card-btn:hover{
            background-color:black;
            color: #fff;
            border: 1px solid black;
        }
        
        
        .place-order{
            width: 330px;
            padding: 10px 100px;
            background-color: white;
            color: black;
            border: 1px solid black;
            border-radius: 10px;
            font-weight: bold;
            text-align: center;
            margin: 10px auto;
        }
        
        .pay-with-imgs{
            height: 40px;
            display: inline-block;
        }
        
        .place-order:hover{
           background-color:#ffff00 ;
           color:#000;
        }
        